<ion-header translucent>
    <ion-toolbar>
        <ion-title>
            Review Reservation
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <app-loader *ngIf="isLoading"></app-loader>
    <ion-card class="no-padding">
        <ion-card-content>
            <app-table-view [sits]="filter.numberOfSits"></app-table-view>
            <ion-grid>
                <ion-label>How many sits?</ion-label>
                <ion-row>
                    <ion-col size="7">
                        <h6>{{ filter.numberOfSits }} Sits</h6>
                    </ion-col>
                    <ion-col size="5">
                        <ion-button
                            (click)="handleIncreaseSits()"
                            size="small"
                            color="light"
                            >+</ion-button
                        >
                        <ion-button
                            (click)="handleDecreaseSits()"
                            size="small"
                            color="light"
                            >-</ion-button
                        >
                    </ion-col>
                </ion-row>

                <ion-label>Time Slot</ion-label>
                <ion-row>
                    <ion-col size="12">
                        <ion-segment
                            #timeslot
                            (ionChange)="handleTimeslotChanged(timeslot.value)"
                            scrollable
                        >
                            <ion-segment-button
                                [value]="ts"
                                *ngFor="let ts of AVAILABLE_TIMESLOTS"
                            >
                                <ion-label>{{ ts }}</ion-label>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-col>
                </ion-row>

                <ion-label>Reservation date</ion-label>
                <ion-row>
                    <ion-col size="12">
                        <ion-datetime
                            #reservationDate
                            (ionChange)="
                                handleReservationDateChanged(
                                    reservationDate.value
                                )
                            "
                            [value]="newReservationObject.date"
                            placeholder="Pick date"
                        ></ion-datetime>
                    </ion-col>
                </ion-row>

                <ion-label>
                    Seating
                </ion-label>
                <ion-row>
                    <ion-col class="tables-wrapper" size="2">
                        <div
                            class="table-item elevated"
                            [ngClass]="{
                                selected: selectedTable?._id == table._id,
                                disabled:
                                    isReserved(table._id) && !table.selectable
                            }"
                            (click)="handleSelectTable(table._id)"
                            *ngFor="let table of tables"
                        ></div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-button
                (click)="confirmReservation()"
                expand="full"
                color="primary"
            >
                Confirm booking
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
